<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <%- include('../inc/meta.ejs') %>
  </head>
  <body>
    <div class="contener">
      <%- include('../inc/menu.ejs') %>
        <%- body %> 
      <%- include('../inc/footer.ejs') %>
    </div>
  </body>
</html>
