<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>

    <style>
      #map {
        height: 98vh;
        width: 100vw;
      }
    </style>
  </head>
  <body>
    <% if(user.admin) {%>
      <%- body %>
    <% } %>
  </body>
</html>
