<link rel="stylesheet" href="/css/footer.css">
<footer>
  <div class="link">
    <div>
      <p>راهنمای مشتری</p>
      <ul>
        <li><a href="">نحوه خرید</a></li>
        <li><a href="">تاخیر در دریافت</a></li>
        <li><a href="">شعبه های ما</a></li>
      </ul>
    </div>
    <div>
      <p>لینک های مفید</p>
      <ul>
        <li><a href="">درباره ما</a></li>
        <li><a href="">تماس با ما</a></li>
        <li><a href="">همکاری با ما</a></li>
      </ul>
    </div>
  </div>
  <div class="ozviat">
    <form action="/khabarName" method="post" id="form-ozviat">
      <input
        type="text"
        placeholder="ایمیل خود را وارد کنید..."
        id="input-ozviat"
        name="email"
      />
      <button id="btn-ozviat" disabled>عضویت در خبر نامه</button>
    </form>
  </div>
</footer>
<script src="/js/footer.js"></script>