<link rel="stylesheet" href="/css/index.css">
<header>
  <div>
    <img
      src="/img/laundry-dry-cleaning-services-concept-illustration_86047-328.jpg"
      alt=""
      srcset=""
    />
  </div>
  <div>
    <h1>خشک شوی انلاین یک دو سه</h1>
    <p>
      در زمان دریافت لباس‌ها، ثبت سفارش و درخواست‌های مشتریان توسط کارشناسان
      سیار خدمات مشتریان دیجی‌واش (MCS) به صورت چهره‌به‌چهره انجام می‌شود و
      البسه در کیسه‌های مخصوص لباس‌های کثیف به مجموعه‌ی خشکشویی هوشمند و روباتیک
      دیجی‌واش منتقل می‌شوند. در این مجموعه صنعتی، لباس‌ها بر اساس درخواست و
      سفارش‌های منحصربه‌فرد مشتریان، شماره‌گذاری شده و با توجه به تنوع
      درخواست‌ها و سرویس‌ها یک برنامه‌ی منحصربه‌فرد شستشو به هر تکه لباس اختصاص
      می‌یابد. پس از
    </p>
  </div>
</header>

<div class="khadamat">
  <h1>خدمات ما</h1>
  <div class="box-khadamat">
    <div>
      <img src="/img/service-circle-1-369x369.png" alt="" />
      <p>شست و شوی انواع کت و شلوار</p>
    </div>
    <div>
      <img src="/img/service-circle-3-300x300.png" alt="" />
      <p>شست و شو انواع پرده</p>
    </div>
    <div>
      <img src="/img/service-circle-4-270x270.png" alt="" />
      <p>شست و شو انواع پیراهن</p>
    </div>
    <div>
      <img src="/img/service-circle-5-copy-150x150.png" alt="" />
      <p>شست و شو انواع شلوار</p>
    </div>
  </div>
</div>

<div class="marahel">
  <div>
    <h1>مراحل شست و شو</h1>
    <p>
      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از
      طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان
      که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با
      هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته
      حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها
      شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ
      پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و
      دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد
      نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای
      موجود طراحی اساسا مورد استفاده قرار گیرد.
    </p>
  </div>
  <div>
    <img
      src="/img/laundry-dry-cleaning-services-concept-illustration_86047-325.avif"
      alt=""
    />
  </div>
</div>

<div class="star">
  <h1>ویژگی های ما</h1>
  <div class="box-star">
    <div>
      <span class="material-symbols-outlined"> speed </span>
      <h5>سرعت خدمات رسانی</h5>
      <p>ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنول</p>
    </div>
    <div>
      <span class="material-symbols-outlined"> speed </span>
      <h5>سرعت خدمات رسانی</h5>
      <p>ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنول</p>
    </div>
    <div>
      <span class="material-symbols-outlined"> speed </span>
      <h5>سرعت خدمات رسانی</h5>
      <p>ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنول</p>
    </div>
    <div>
      <span class="material-symbols-outlined"> speed </span>
      <h5>سرعت خدمات رسانی</h5>
      <p>ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنول</p>
    </div>
  </div>
</div>
