<div class="profile">
    <div class="bio">
      <span class="material-symbols-outlined img"> person </span>
      <div>
        <p><%= user.username %></p>
        <p><%= user.email %></p>
      </div>
    </div>
    <span class="material-symbols-outlined"> edit </span>
  </div>
  <br>
  <div class="controller">
    <p class="title-box">کنترل حساب</p>
    <!-- <div class="item-controller">
      <div>
        <span class="material-symbols-outlined"> pin_drop </span>
        <a href="">ادرس ها ی من</a>
      </div>
    </div> -->
    <div class="item-controller">
      <div>
        <span class="material-symbols-outlined"> payments </span>
        <a href="">تراکنش ها ی من</a>
      </div>
    </div>
    <div class="item-controller">
      <div>
        <span class="material-symbols-outlined"> storefront </span>
        <a href="/dashbord/storefront">سفارش جدید</a>
      </div>
    </div>
    <div class="item-controller logout">
      <div>
        <span class="material-symbols-outlined"> logout </span>
        <a href="/dashbord/logout">خروج</a>
      </div>
    </div>
  </div>